* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hide {
  display: none !important;
}

.visable {
  align-self: center;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
  width: 70%;
  margin: 0 auto;
}

.mmsLogo {
  display: block;
  width: 30%;
  margin: 2em auto;
}

h1 {
  margin: 1em auto;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

td {
  margin: 0.1em;
  border-radius: 5px;
}

input[type="submit"],
button {
  font-family: "Raleway", sans-serif;
  background-color: rgb(20, 115, 161); /* Menntamálastofnunar - ljósblár */
  color: white;
  padding: 0.5em 2em;
  margin: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

input[type="submit"]:hover,
button:hover {
  background-color: rgb(29, 160, 204); /* Mennamálastofnunar - dökkblátt */
}

.button__warning {
  background-color: crimson !important;
}

.button__warning:hover {
  background-color: rgb(252, 80, 114) !important;
}

.button__inactive {
  background-color: grey !important;
}

.button__inactive:hover {
  background-color: grey !important;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="password"],
select {
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  background-color: rgb(228, 226, 226);
}

label {
  padding-top: 0.7em;
}

.error {
  color: red;
}

.correct {
  color: green;
}

.neutral {
  background-color: white;
}

.msf {
  border: 2px solid rgb(241, 74, 74);
  background-color: rgba(241, 74, 74, 0.5) !important;
  color: white;
}

.sf {
  border: 2px solid rgb(163, 159, 159);
  background-color: rgba(163, 159, 159, 0.5) !important;
  color: white;
}

.mf {
  border: 2px solid rgb(63, 151, 63);
  background-color: rgba(63, 151, 63, 0.5) !important;
  color: white;
}

.gf {
  border: 2px solid rgb(97, 97, 221);
  background-color: rgba(97, 97, 221, 0.5) !important;
  color: white;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
